<div class="container">
    <form #form="ngForm">
        <fieldset>
            <div class="legend-progress-container">
                <div>
                    <legend><strong>Formulario de captación de información</strong></legend>
                    <mat-progress-bar mode="determinate" [value]="getPercentage()"></mat-progress-bar>
                </div>
                <span class="percentage"> {{getPercentage()}}% </span>
            </div>
                @switch (page) {
                    @case (1) {
                        <label><strong>{{questions[0].question}}</strong>
                            <textarea [(ngModel)]="questions[0].result" name="question1" placeholder="*" required></textarea>
                            @if ( form.controls['question1'].invalid && (form.controls['question1'].touched || form.controls['question1'].dirty)) {
                                <small>@if (form.controls['question1'].errors?.['required']){Este campo es obligatorio.}</small>
                            }
                        </label>
                    }
                    @case (2) {
                        <label for="example-radio-group-label"><strong>{{questions[1].question}}</strong></label>
                        <small> *Solo puedes selecionar una respuesta.</small>
                        <mat-radio-group
                            aria-labelledby="example-radio-group-label"
                            [(ngModel)]="questions[1].result" name="question2" required>
                            @for (answer of answers; track answer) {
                                <mat-radio-button [value]="answer">{{answer}}</mat-radio-button>
                            }
                            <mat-radio-button value="Otro"> Otro: 
                                <input class="other-input" type="text" [(ngModel)]="questions[1].other" name="otherInput" />
                            </mat-radio-button>
                        </mat-radio-group>
                    }
                    @case (3) {
                        <label><strong>{{questions[2].question}}</strong>
                            <mat-form-field>
                                <mat-label>Elige una fecha</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="questions[2].result" name="question3" required>
                                <mat-hint>DD/MM/AAAA</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            @if ( form.controls['question3'].invalid && (form.controls['question3'].touched || form.controls['question3'].dirty)) {
                                <small>@if (form.controls['question3'].errors?.['required']){Este campo es obligatorio.}</small>
                            }
                        </label>
                    }
                }
            @if (page < 4) {
                <button type="button" (click)="nextPage()" [disabled]="form.invalid">Siguiente</button>
            } @else {
                <h2>Resumen</h2>
                <ul>
                    @for (question of questions; track question) {
                        <li>
                            <strong>{{question.question}}</strong> 
                            @if (question.question === questions[2].question){
                                {{getFormattedDate(question.result)}}
                            }@else {
                                {{question.result}}
                                @if (question.question === questions[1].question && question.result === 'Otro') {
                                    : {{question.other}}
                                }
                            }
                        </li>
                    }
                </ul>
            }
        </fieldset>
    </form>
</div>